@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


* {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    font-size: 14px;
}

body {
    background-color: var(--cream);
    
}

.container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.content {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.description{
    background-color: white;
    color: var(--dark-grayish-blue);
}
.des-margin{
    margin: 25px;
}
.detail-text{
    line-height: 1.5rem;
    font-size: 1.25rem;
    margin:0;
}
.price{
    display: inline-flex;
    align-items: center;
    font-family: 'Fraunces';
    font-size: 2rem;
    color: var(--dark-cyan);
    margin-top:20px;
}
.price span{
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    font-family: 'Montserrat';
    margin-left: 20px;
    font-size: 12px;
}
.title {
    font-family: 'Fraunces';
    font-size:2.5rem;
    color: var(--very-dark-blue);
    margin-top: 10px;
    margin-bottom: 10px;
}
.bt{
    width: 100%;
    height: 45px;
    border-radius: 7px;
    background-color: var(--dark-cyan);
    color: white;
    font-family: 'Montserrat';
    border:none;
}
.bt:hover{
    background-color: hsl(159, 36%, 23%);
    cursor: pointer;
}
.bt-text{
    padding-left: 10px;
}
.icon{
    position: relative;
    top: 3px;
}
.subtitle{
    font-family: 'Montserrat';
    letter-spacing: 4px;
    color: var(--dark-grayish-blue);
}
@media (max-width: 959px) {
    .content {
        width: 320px;
        height: 550px;
        flex-direction: column;
    }

    .image {
        background-image: url('./images/image-product-mobile.jpg');
        background-size: cover;
        width: 100%;
        height: 40%;
    }
    .description {
        width: 100%;
        height: 60%;
    }
    .title{
        font-size: 2rem;
        line-height: 1;
    }
    .subtitle{
        font-size: 0.8rem;
    }
    .detail-text{
        font-size: 1.2rem;
    }
    .des-margin{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .price{
        margin-top: 25px;
        margin-bottom: 20px;
    }
}

@media (min-width: 960px) {
    .content {
        width: 600px;
        height: 450px;
    }

    .image {
        background-image: url('./images/image-product-desktop.jpg');
        background-size: cover;
        width: 50%;
        height: 100%;
    }

    .description {
        width: 50%;
        height: 100%;
    }
}